*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    background: #e8e9e8;
    font-size: 1rem;
    line-height: 1.4em;
    margin: 0%;
}

h1{
    font-size: 2rem;
    line-height: 1em;
}

p{
    margin-bottom: 50px;
}

.container{
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0.8rem ;
}

.header{
    background: #f5f5f5;
    color: white;
    /*para dejarlo fijo*/
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header a{
    color: #3d4543;
    text-decoration: none;
    
}

.logoPNG{
    
    border-radius: 5px;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu-icon{
    display: none;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover{
    background: #4a4a4a;
    color: white;
}

.content{
    padding-top: 5rem;
}
/*
.footer{
    background: #3d4543;
    padding: 1.5rem 0 0 0; 
    text-align: center;
    margin-top: 5.5rem;
}

a.datosPersonales{
    text-decoration: none;
    list-style: none;
    color: #e7e8e7;
}
*/

@media only screen and (max-width: 650px){
    /* 650px */
    .menu-icon{
        display: block;
        cursor: pointer;
        color: #333;
    }
    .navigation {
        width: 100%;
        margin-top: 0.5rem;
    }

    .navigation ul{
        display: none;
    }

    .navigation ul.show{
        display: block;
    }

    .navigation ul li{
        display: block;
    }

    .navigation ul li a{
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4s linear;
        border-radius: 5px;
    }

}